html, body {

  background-color: rgb(84, 88, 91);

}



.navbar-default {
background-color:transparent;
color:#FFF;
}


#top_header{
 min-height: 960px;
    height: 100%;
    background-color:transparent;
     background-image: url("../images/home-bg.jpg");
}


#service{
	text-align: center;
    height: 100%;
    background-color:#FFF;
      
}

#our_service{
	text-align: center;
    height: 100%;
    background-color:#FFF;
      
}




  
.navbar-collapse {

font-size: 200%;
}



#slider_blog .slides li {
    position: relative;
}
#slider_blog .flex-caption {
	text-align: center;
        margin-top:-84%;
       
    position: absolute;  
    padding:50%;     
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}



#project_blog .slides li {

background-image: url("../images/any1car-bg.jpg");
height: 971px;
 position: relative;
}

#project_blog .flex-caption {

	text-align: center;
        margin-top:-20%;
       
    position: absolute;  
    padding:50%;     
    color: white;
    background-color: rgba(0, 0, 0, 0.6);

}



@media (min-width: 1200px) {
 .fill{
    width: 1500px;
    background-color:#FFF;
    padding: 0;
    
  }
  
    }
